Some reachable websites have invalid IDNA host names and throw InvalidCodepoint

Please check these names:
```
xn--lw8h.xn--9s9h.it.com
xn--4t8h.dwk.io
xn--7s9h.que.trolling.win
```

These will throw a `idna.core.InvalidCodepoint` when I try to invoke the `idna.encode()` method with them. Do I have to enable somewhere an option?

No, the error is still coming:
```python
import idna

for domain in ["xn--lw8h.xn--9s9h.it.com", "xn--4t8h.dwk.io", "xn--7s9h.que.trolling.win"]:
    print(f"domain='{domain}'")
    encoded = idna.encode(domain)
    print(f"encoded='{encoded}'")
```

If you run this code, you get:
```
$ python ./encode.py 
domain='xn--lw8h.xn--9s9h.it.com'
Traceback (most recent call last):
  File "/home/foo/foo/./encode.py", line 5, in <module>
    encoded = idna.encode(domain, uts46=True)
  File "/home/foo/foo/venv/lib/python3.14/site-packages/idna/core.py", line 569, in encode
    s = alabel(label)
  File "/home/foo/foo/venv/lib/python3.14/site-packages/idna/core.py", line 397, in alabel
    ulabel(label_bytes)
    ~~~~~~^^^^^^^^^^^^^
  File "/home/foo/foo/venv/lib/python3.14/site-packages/idna/core.py", line 450, in ulabel
    check_label(label)
    ~~~~~~~~~~~^^^^^^^
  File "/home/foo/foo/venv/lib/python3.14/site-packages/idna/core.py", line 372, in check_label
    raise InvalidCodepoint(f"Codepoint {_unot(cp_value)} at position {pos + 1} of {label!r} not allowed")
idna.core.InvalidCodepoint: Codepoint U+1F535 at position 1 of '🔵' not allowed
```
What I have to do here is to catch the `InvalidCodepoint` by myself. Put a `try-except` block around the `encode()` line:
```python
import idna

for domain in ["xn--lw8h.xn--9s9h.it.com", "xn--4t8h.dwk.io", "xn--7s9h.que.trolling.win"]:
    print(f"domain='{domain}'")
    try:
        encoded = idna.encode(domain)
    except idna.core.InvalidCodepoint:
        encoded = domain

    print(f"encoded='{encoded}'")
```
So yes, this "fixes" the issue, I just wonder if you can add a parameter `display: bool = False` to the `encode()` function, too?

None of these are valid IDNs so the error is legitimate. I don't know what outcome you are seeking, but this is being rejected as it contains impermissable codepoints. People can put whatever labels they want in their zones, e.g. `xn--quix0r` can be put in a domain zone but that doesn't mean it will compute to a legal IDN. 

I just wondered why there is no `display` parameter for the `encode()` function but for `decode()` it is?

The next domain name is causing same exception, but the browser accepts it: `fedii.☃☃☃.ws` should become `fedii.xn--n3haa.ws`.

And the next one: `こちらは普通のリレーサーバーです。検索システムは「` which Firefox turns into `xn--28jmxy8af5pqn7h8iwa6qbb6336r2lof.xn--16j1kthia9d4hs441bxq7a`. `decode()` with any parameter raises:
`idna.core.InvalidCodepoint: Codepoint U+300C at position 8 of '検索システムは「' not allowed`.

A `display` argument for `encode()` doesn't make sense, but it is unclear what you are trying to do here. Perhaps if you explain your use case it would make more sense.

* `encode` takes the U-label, i.e. the version people expect to see, and converts it into the DNS's internal format, known as an A-label.
* `decode` does the opposite, takes an A-label, the version taken from the wire, and converts it into something people expect to see.

Here you are taking the wire format and running 'encode' on it, which converts it to the wire format. But presumably you already have it in wire format so why run it through the library at all? Just leave it as is. If you are running it through the library to check if it is a valid IDN, it is not, which is why it is raising an error. Not all possible combinations of Unicode characters are valid IDNs, the vast majority are not, and that logic to assess if it is a valid IDN is what the library implements. There is no point creating an argument to use the encode function that skips this logic, you may as well just not pass your string to the library at all and leave it as-is.

The `.ws` top-level domain is renowned for having little-to-no restrictions on what domains they permit, they will let you register invalid labels as domains and do not validate if it is a valid or not. This is in contrast with almost every other top-level domain.

In your last example, `「` (U+300C LEFT CORNER BRACKET) is impermissible in an IDN. Generally punctuation is not allowed in domain names and this is the case here. It fails according to RFC 5892, section 2.1, the General_Category is `Ps` which is not allowed per this rule.

Ah, sorry. that I got it confused. I wanted to have the `xn--` (A-labeled) version, no matter if already one is provided (then encoding to it is skipped) for having being compared (no redundant entries per domain/host name). So why does Firefox encode `「` even when the RFC 5892 is not allowing it?

That is more of a question for Firefox. Some implementers implement the older standard in RFC 3490 that was more permissive, but had many problems. This older standard was replaced by RFC 5890-5894 to address some of these problems, such as that it was fixed to Unicode version 3.2 (we are now up to 17), and the logic in the old version presented security issues. Other implementers may have some non-conformant flexibility added in where they have deviated (either accidentally or deliberately) from the standard. If you are using this in a purely UI context you may be relying on domain registries to prevent registration of "bad" strings so may see it as not your problem to solve. However, this is a general-purpose library so it seeks to be fully standards conformant in its normal mode, e.g. some domain registries use this code in order to assess whether a domain is valid to register.